{% extends "../master.html" %}

{% block styles %}<link rel="stylesheet" href="/styles/cv.css" />{% endblock %}

{% block title %}Valery Yushchenko CV{% endblock %}

{% block content %}

<div class="cv-downloads">
  <a href="/files/valery_yushchenko_cv.pdf" title="Download CV in pdf format"><img src="/images/icon_pdf.png" /> pdf</a>
  <a href="/files/valery_yushchenko_cv.doc" title="Download CV in MS Word format"><img src="/images/icon_doc.png" /> doc</a>
  <a href="/files/valery_yushchenko_cv.odt" title="Download CV in Open Office Writer format"><img src="/images/icon_odt.png" /> odt</a>
</div>

<div class="cv-contacts">
  valery@yushchenko.name <br/>
  +61 416 419 263
</div>

<h1 class="cv-header"><span class="cv-header-name">Valery Yushchenko </span>Curriculum Vitae</h1>

{% include "../content/cv.html" %}

{% endblock %}
