<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">

  <head>
    {# Loading YUI2 css framework from Yahoo CDN #}
    {# <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/combo?2.8.1/build/reset-fonts-grids/reset-fonts-grids.css&2.8.1/build/base/base-min.css"> #}
    <link rel="stylesheet" type="text/css" href="/styles/yui2.css" />
    <link rel="stylesheet" href="/styles/master.css" />
    {% block styles %}{% endblock %}
    <title>{% block title %}Valery Yushchenko{% endblock %}</title>
    <meta name="google-site-verification" content="VrnRZN7fm3lnnCOaxhkDohCMlZ05W8fpKo3Wb-5yAw0" />
  </head>

  <body>
    <div id="doc">

      <div id="hd">
        <h1>Valery Yushchenko</h1>
        <div id="menu">
          <a href="/">Home</a>
          <a href="/about/">About</a>
        </div>
      </div>

      <div id="bd">
        {% block content %}{% endblock %}
      </div>

      <div id="ft">

        <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/">
          <img alt="Creative Commons License" src="http://i.creativecommons.org/l/by-nc/3.0/80x15.png" />
        </a>

        <span>&copy; 2010 Valery Yushchenko.</span>
      </div>

    </div>
    {% block scripts %}{% endblock %}
  </body>

</html>
