{% extends "../master.html" %}

{% block title %}CSS Layout{% endblock %}

{% block styles %}<link rel="stylesheet" href="/styles/sandbox/css_layout.css" />{% endblock %}

{% block scripts %}
  <script language='javascript' src='/scripts/libs/jquery-1.4.2.min.js'></script>
  <script language='javascript' src='/scripts/sandbox/css_layout.js'></script>
{% endblock %}

{% block content %}

<h3>CSS Layout</h3>

<div id='properties'>

  <div>
    <em>&lt;div&nbsp;</em>

    <span class='property-container'>
      <label for='display'>display=</label><select id='display' class='property-editor child-only'>
        <option>block</option>
        <option>inline</option>
        <option>inline-block</option>
      </select>
    </span>

    <span class='property-container'>
      <label for='float'>float=</label><select id='float' class='property-editor child-only'>
        <option>none</option>
        <option>left</option>
        <option>right</option>
      </select>
    </span>

    <span class='property-container'>
      <label for='clear'>clear=</label><select id='clear' class='property-editor child-only'>
        <option>none</option>
        <option>both</option>
        <option>left</option>
        <option>right</option>
      </select>
    </span>

    <span class='property-container'>
      <label for='position'>position=</label><select id='position' class='property-editor child-only'>
        <option>static</option>
        <option>relative</option>
        <option>absolute</option>
        <option>fixed</option>
      </select>
    </span>

    <span class='property-container'>
      <label for='overflow'>overflow=</label><select id='overflow' class='property-editor child-only'>
        <option>visible</option>
        <option>hidden</option>
        <option>scroll</option>
        <option>auto</option>
      </select>
    </span>

    <span class='property-container'>
      <label for='width'>width=</label><input type='text' id='width' class='property-editor'/>
      <label for='height'>height=</label><input type='text' id='height' class='property-editor'/>    
    </span>

    <span class='property-container'>
      <label for='background'>background=</label><input type='text' id='background' class='property-editor wide'/>
    </span>

    <br/>
    <span class='property-container'>
      <label for='top'>top=</label><input type='text' id='top' class='property-editor child-only'/>
      <label for='right'>right=</label><input type='text' id='right' class='property-editor child-only'/>
      <label for='bottom'>bottom=</label><input type='text' id='bottom' class='property-editor child-only'/>
      <label for='left'>left=</label><input type='text' id='left' class='property-editor child-only'/>    
    </span>

    <br/>
    <span class='property-container'>
      <label for='border-top' title='border-top'>br-top=</label><input type='text' id='border-top' class='property-editor wide child-only'/>
      <label for='border-right' title='border-rigth'>br-right=</label><input type='text' id='border-right' class='property-editor wide child-only'/>
      <label for='border-bottom' title='border-bottom'>br-bottom=</label><input type='text' id='border-bottom' class='property-editor wide child-only'/>
      <label for='border-left' title='border-left'>br-left=</label><input type='text' id='border-left' class='property-editor wide child-only'/>    
    </span>

    <br/>
    <span class='property-container'>
      <label for='padding-top'>padding-top=</label><input type='text' id='padding-top' class='property-editor'/>
      <label for='padding-right'>padding-right=</label><input type='text' id='padding-right' class='property-editor'/>
      <label for='padding-bottom'>padding-bottom=</label><input type='text' id='padding-bottom' class='property-editor'/>
      <label for='padding-left'>padding-left=</label><input type='text' id='padding-left' class='property-editor'/>    
    </span>

    <br />
    <span class='property-container'>
      <label for='margin-top'>margin-top=</label><input type='text' id='margin-top' class='property-editor child-only'/>
      <label for='margin-right'>margin-right=</label><input type='text' id='margin-right' class='property-editor child-only'/>
      <label for='margin-bottom'>margin-bottom=</label><input type='text' id='margin-bottom' class='property-editor child-only'/>
      <label for='margin-left'>margin-left=</label><input type='text' id='margin-left' class='property-editor child-only'/>    
    </span>

    <em>&gt;</em>

    <input type='text' id='text' class='property-editor wide'/>
    
    <em>&lt;/div&gt;</em>
  <div>

  <div id='controls'>
    <a id='addChild'>add</a>
    <a id='remove' href='#'>remove</a>
  </div>

</div>

<div id='root' class='selectable'>
</div>

{% endblock %}
