/* 
 * blue #7587A6 (links)
 * gray #5F5A60 (titles)
 * light gray #D1D1D1 (borders)
 *
 */

#properties {
    margin-bottom: 10px;
}

#properties-placeholder {
    display: none;
}

#root {
    height: 500px;
}

.selectable {
    border: solid 1px #D1D1D1;
    min-height: 10px;
    padding: 3px;
}

.selected {
    border: solid 1px #7587A6;
}

#properties {
    font-size: 0.9em;
}

#properties em {
    font-weight: bold;
}

.property-container {
    display: inline-block;
    padding-bottom: 3px;
}

.property-editor, option {
    border: solid 1px #D1D1D1;
}

input.property-editor {
    width: 40px;
}

input.property-editor.wide {
    width: 120px;
}

#controls {
    text-align: right;
    margin-top: 10px;
    padding-bottom: 5px;
}

#controls a {
    display: inline-block;
    width: 50px;
    margin-left: 5px;
    border: 1px solid #D1D1D1;
    text-align: center;
    padding: 2px;
}

#controls a:hover {
    text-decoration: none;
    border: 1px solid #7587A6;
    cursor: pointer;
}