/* 
 * colors form my favorite Emacs theme (Twilight)
 *
 * blue #7587A6 (links)
 * gray #5F5A60 (titles)
 * light gray #E1E1E1 (borders)
 *
 */


a { color: #7587A6; text-decoration: none; }
a:hover { text-decoration: underline; }
h1,h2,h3,h4,h5,h6 { color: #5F5A60; }

#hd {
    border-right: solid 1px #E1E1E1;
}

#hd h1 {
    margin-bottom: 5px;
}

#menu {
    margin-bottom: 5px;
}
#menu a {
    margin-right: 5px;
}

#bd {
    padding: 10px 10px 10px 0;
    min-height: 400px;
    border-right: solid 1px #E1E1E1;
    border-bottom: solid 1px #E1E1E1;
}

#ft {
    padding-top: 5px;
    text-align: right;
    font-size: 85%;
    color: #5F5A60;
}

