/* 
 * colors form my favorite twilight theme
 *
 * blue #7587A6
 * brown #9B703F
 * gray #5F5A60
 *
 */

a { color: #7587A6; text-decoration: none; }
a:hover { text-decoration: underline; }

#hd h1 {
    margin-bottom: 5px;
}

#menu {
    margin-bottom: 5px;
}
#menu a {
    margin-right: 5px;
}

#bd {
    padding-top: 10px;
}

